* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.guess-slot {
    height: 100%;
    border: 1px solid rgb(228, 228, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.guess-slot > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attempt-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
}

.color-history {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.feedback-pegs {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.feedback-peg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.history-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}